<!--<footer id="colophon" class="site-footer clearfix" role="contentinfo">-->

  <!--<div id="footer-text" class="site-info">-->
    <!--Design By-->
  <!--</div>&lt;!&ndash; .site-info &ndash;&gt;-->

  <!--<nav id="footer-links" class="footer-navigation navigation clearfix" role="navigation">-->
  <!--</nav>&lt;!&ndash; #footer-links &ndash;&gt;-->

<!--</footer>&lt;!&ndash; #colophon &ndash;&gt;-->

<script type='text/javascript' src='js/jquery.form.min.3.51.0-2014.06.20.js'></script>
<script type='text/javascript'>
  /* <![CDATA[ */
  var _wpcf7 = {"loaderUrl":"css\/ajax-loader.gif","sending":"Sending ..."};
  /* ]]> */
</script>
<script type='text/javascript' src='js/scripts.4.3.js'></script>