<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

<header id="masthead" class="site site-header clearfix" role="banner">

  <div id="header-top" class="header-bar-wrap">


    <div id="header-bar" class="header-bar clearfix">


    </div>
  </div>

  <div class="header-main clearfix">

    <div id="logo" class="site-branding clearfix">


      <a href="http://wintit.fr/" title="Wintit" rel="home">
        <h1 class="site-title">Wintit</h1>
      </a>


    </div><!-- .site-branding -->

    <div id="logo2" class="site-branding-alt clearfix">
      <a href="http://wintit.fr/" rel="home">
        <h1 class="site-title">Nabis</h1>
      </a>
    </div>

    <div class="header-widgets clearfix">


    </div><!-- .header-widgets -->

  </div><!-- .header-main -->

  <nav id="main-navigation" class="primary-navigation navigation clearfix" role="navigation">
    <ul id="menu-one-page" class="main-navigation-menu"><li id="menu-item-82" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82"><a href="#accueil">Accueil</a></li>
      <li id="menu-item-84" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-84"><a href="#produit">Produit</a></li>
      <li id="menu-item-83" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83"><a href="#services">Services</a></li>
      <li id="menu-item-86" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-86"><a href="#contact">Contact</a></li>
    </ul>			</nav><!-- #main-navigation -->


</header><!-- #masthead -->